@font-face {
    font-family: StretchPro;
    src: url(../fonts/StretchPro.otf) format('opentype');
}

@font-face {
    font-family: Archivo;
    src: url(../fonts/Archivo-VariableFont_wdth\,wght.ttf) format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    height: 10vh;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 1.5s forwards;
}

a {
    text-decoration: none;
    font-family: Archivo, sans-serif;
    color: white;
    position: relative; /*para o pseudo-elemento*/
    transition: all 0.25s ease;
}


#portfolio::after {
    content: ''; /*necessário*/
    position: absolute; /*vai se basear no link*/
    left: 0;
    bottom: -5px; /*ou padding-bottom no link*/
    width: 100%;
    height: 1px;
    transform: scaleX(0); /*inicialmente invisível*/
    background-color: #c39e6cff;
    transition: transform 0.25s ease;

}

.links:hover {
    color: #c39e6cff;
}

#portfolio:hover::after {
    transform: scaleX(1);
}

/*aqui efetivamente irei criar a linha*/
#contact::after { /*pseudo-elemento; permite inserir conteúdo extra*/
    content: ''; /*necessário*/
    position: absolute; /*vai se basear no link*/
    left: 0;
    bottom: -5px; /*ou padding-bottom no link*/
    width: 100%;
    height: 1px;
    background-color: #c39e6cff;
    transform: scaleX(0); /*inicialmente invisível*/
    transform-origin: left;
    transition: transform 0.25s ease;
}

/*aqui eu vou fazer a linha aparecer quando o mouse estiver por cima*/
#contact:hover::after {
    transform: scaleX(1);
}

#project::after { /*pseudo-elemento; permite inserir conteúdo extra*/
    content: ''; /*necessário*/
    position: absolute; /*vai se basear no link*/
    left: 0;
    bottom: -5px; /*ou padding-bottom no link*/
    width: 100%;
    height: 1px;
    background-color: #c39e6cff;
    transform: scaleX(0); /*inicialmente invisível*/
    transform-origin: right;
    transition: transform 0.25s ease;
}

/*aqui eu vou fazer a linha aparecer quando o mouse estiver por cima*/
#project:hover::after {
    transform: scaleX(1);
}

#intro-section {
    height: 100vh;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 20px 20px;
}

#title {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    align-items: center;
    margin: 5vh 10vw 0 10vw;
    cursor: default;
}

#title #editing-title {
    font-family: StretchPro, sans-serif;
    color: #c39e6cff;
    font-size: clamp(2rem, 5vw, 3rem);
    animation: slideUpFadeIn 1s ease-in-out forwards;
}

#title #swipe-up {
    font-family: Archivo, sans-serif;
    font-size: clamp(1.2rem, 1.25vw, 1.8rem); 
    color: grey;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 1s forwards;
}

#gallery-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gallery {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    animation: slideUpFadeIn ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 5%;
}

#gallery div {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10vh;
    animation: slideUpFadeIn ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}

#gallery img {
    margin: 0 0.6vw 1em 0.6vw;
    width: 37.8vw;
}

#up-button-container {
    display: flex;
    justify-content: center;
}

#up-button {
    opacity: 0;
    position: fixed;
    color: #c39e6cff;
    transition: all 0.25s;
    display: inline-block;
    bottom: 10vh;
    animation: fadeIn 1s ease-in-out 1.5s forwards;
}

#up-button:hover {
    transform: translateY(-5px);
}

footer {
    background-color: black;
    font-family: Archivo, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 10vh;
}

span {
    white-space: nowrap;
}

footer {
    background-color: black;
    font-family: Archivo, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 10vh;
}

footer #footer-copy {
    color: #c39e6cff;
}

@media (max-width: 520px) {
    #gallery img{
        width: 80vw;
    }
}

@keyframes slideUpFadeIn { 
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes letterSpacing { 
    from {
        letter-spacing: 4rem;
        color: white;
        opacity: 0;
    }
    to {
        letter-spacing: normal;
        color: #c39e6cff;
        opacity: 1;
    }
}

@keyframes fadeIn { 
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}