@font-face {
    font-family: StretchPro;
    src: url(fonts/StretchPro.otf) format('opentype');
}

@font-face {
    font-family: Archivo;
    src: url(fonts/Archivo-VariableFont_wdth\,wght.ttf) format('truetype');
}


* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}


#main-section {
    background-color: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    border-radius: 0 0 20px 20px;
}

#nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    height: 10vh;
}

a {
    text-decoration: none;
    font-family: Archivo, sans-serif;
    color: white;
    position: relative; /*para o pseudo-elemento*/
    transition: all 0.25s ease;
}

#contact {
    color: #c39e6cff;
}

#contact::after {
    content: ''; /*necessário*/
    position: absolute; /*vai se basear no link*/
    left: 0;
    bottom: -5px; /*ou padding-bottom no link*/
    width: 100%;
    height: 1px;
    transform: scaleX(1); /*inicialmente invisível*/
    background-color: #c39e6cff;
}

.links:hover {
    color: #c39e6cff;
}

/*aqui efetivamente irei criar a linha*/
.links::after { /*pseudo-elemento; permite inserir conteúdo extra*/
    content: ''; /*necessário*/
    position: absolute; /*vai se basear no link*/
    left: 0;
    bottom: -5px; /*ou padding-bottom no link*/
    width: 100%;
    height: 1px;
    transform: scaleX(0); /*inicialmente invisível*/
    background-color: #c39e6cff;
    transition: transform 0.25s ease;
}

/*aqui eu vou fazer a linha aparecer quando o mouse estiver por cima*/
.links:hover::after {
    transform: scaleX(1);
}

#title {
    font-family: StretchPro, sans-serif;
    color: #c39e6cff;
    display: flex;
    flex-wrap: wrap; /*para o responsivo*/
    justify-content: center;
    text-align: justify;
    text-align-last: center;
    font-size: clamp(2rem, 5vw, 3rem);
    margin: 5vh 10vw 0 10vw;
    animation: slideUpFadeIn 1s ease-in-out forwards;
    cursor: default;
}

@keyframes slideUpFadeIn { /*entender como funciona*/
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#contacts {
    padding: 15vh 10vw 0 10vw;
    font-family: StretchPro, sans-serif;
    color: #c39e6cff;
    cursor: default;
    font-size: clamp(1.2rem, 5vw, 1.8rem); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    gap: 50px;
    animation: slideUpFadeIn 1s ease-in-out forwards;

}

#contacts div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

#contacts a {
    color: #373737;
}

#contacts a:hover {
    color: white;
}

footer {
    background-color: black;
    font-family: Archivo, sans-serif;
    font-weight: normal;
    color: #c39e6cff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}