/*
Explicar as fotos da igreja
Tornar o código semântico
Ajustar a posição da seta no HTML
Indicar o botão para subir
*/

@font-face {
    font-family: StretchPro;
    src: url(fonts/StretchPro.otf) format('opentype');
}

@font-face {
    font-family: Archivo;
    src: url(fonts/Archivo-VariableFont_wdth\,wght.ttf) format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}


#main-section {
    height: 100vh;
    color: #010101;
    background-image: url(../src/images/shots/home/background.jpg);
    background-size: cover;
    background-position-y: 45%;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    height: 10vh;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 1.5s forwards;
}

a {
    text-decoration: none;
    font-family: Archivo, sans-serif;
    color: #171717;
    position: relative; /*para o pseudo-elemento*/
    transition: all 0.25s ease;
}

#portfolio {
    color: #c39e6cff;
}

#portfolio::after {
    content: ''; /*necessário*/
    position: absolute; /*vai se basear no link*/
    left: 0;
    bottom: -5px; /*ou padding-bottom no link*/
    width: 100%;
    height: 1px;
    transform: scaleX(1); /*inicialmente invisível*/
    background-color: #c39e6cff;
}

.links:hover {
    color: #c39e6cff;
}

/*aqui efetivamente irei criar a linha*/
#contact::after { /*pseudo-elemento; permite inserir conteúdo extra*/
    content: ''; /*necessário*/
    position: absolute; /*vai se basear no link*/
    left: 0;
    bottom: -5px; /*ou padding-bottom no link*/
    width: 100%;
    height: 1px;
    background-color: #c39e6cff;
    transform: scaleX(0); /*inicialmente invisível*/
    transform-origin: left;
    transition: transform 0.25s ease;
}

/*aqui eu vou fazer a linha aparecer quando o mouse estiver por cima*/
#contact:hover::after {
    transform: scaleX(1);
}

#project::after { /*pseudo-elemento; permite inserir conteúdo extra*/
    content: ''; /*necessário*/
    position: absolute; /*vai se basear no link*/
    left: 0;
    bottom: -5px; /*ou padding-bottom no link*/
    width: 100%;
    height: 1px;
    background-color: #c39e6cff;
    transform: scaleX(0); /*inicialmente invisível*/
    transform-origin: right;
    transition: transform 0.25s ease;
}

/*aqui eu vou fazer a linha aparecer quando o mouse estiver por cima*/
#project:hover::after {
    transform: scaleX(1);
}

#titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}



#title { 
    font-family: StretchPro;
    color: #c39e6cff;
    font-size: clamp(2rem, 5vw, 3rem); /*valor mínimo, ideal e máximo*/
    text-align: center;
    margin-top: 5vh;
    cursor: default;
    transition: all 0.5s ease-in-out;
    animation: slideUpFadeIn 1s ease-in-out forwards;
}

#subtitle {
    font-family: Archivo, sans-serif;
    font-size: clamp(1.2rem, 1.25vw, 1.8rem); 
    color: #c39e6cff;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 1s forwards;
}

title:hover { /*tentar fazer cor invertida do fundo*/
    cursor: pointer;
    color: #171717;
}

#intermediate {
    height: 40vh;
    background-image: url(../src/images/shots/home/intermediate-img.JPG);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#gallery-section { /*mexendo na sessão*/
    background-color: #0A0A0A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gallery-title {
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: StretchPro;
    color: #c39e6cff;
    font-size: clamp(2rem, 5vw, 3rem);
    text-align: center;
    cursor: pointer;
}

#blocks { /*mexendo na div dos blocos*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    animation: slideUpFadeIn ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}

.block { /*mexendo nos blocos de modo geral (nos links)*/
    font-family: Archivo, sans-serif;
    color: #FAFAFA;
    font-size: clamp(1.2rem, 5vw, 1.8rem); 
    background-color: #c39e6cff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vw;
    width: 25vw;
    min-height: 200px;
    min-width: 250px;
    border-radius: 10px;
    margin: 20px;
    transition: all 0.25s ease-in-out;
}


#outside{
    background-image: url(../src/images/shots/home/outside-block.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#outside:hover {
    background-image: none;
}

#church {
    background-image: url(../src/images/shots/home/church-block.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 45%;
}

#church:hover {
    background-image: none;
}

#editing {
    background-image: url(../src/images/shots/home/tap-to-edit-block.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: 30%;
}

#editing:hover {
    background-image: none;
}

.block:hover {
    background-image: none;
    background-color: #171717;
    color: #c39e6cff;
    box-shadow: 0px 0px 10px #c39e6cff;
    letter-spacing: 0.1em;
}

#about-section {
    padding-top: 60px;
    background-color: #0A0A0A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-title {
    font-family: StretchPro, sans-serif;
    color: #c39e6cff;
    display: flex;
    flex-wrap: wrap; /*para o responsivo*/
    justify-content: center;
    text-align: justify;
    text-align-last: center;
    font-size: clamp(2rem, 5vw, 3rem);
    margin: 0px 10vw 0 10vw;
    cursor: default;
    animation: slideUpFadeIn ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}

#about-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#about-content #about-text {
    margin-top: 10vh;
    width: 70vw;
    font-family: Archivo, sans-serif;
    font-size: clamp(1.2rem, 5vw, 1.8rem); /*valor min, ideal e máximo*/
    color: white;
    display: flex;
    flex-wrap: wrap; /*para o responsivo*/
    justify-content: center;
}

#about-content #about-text p {
    animation: slideUpFadeIn ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}


#keep-in-touch {
    height: 100vh;
    background-color: #0A0A0A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 20px 20px;
}

#keep-in-touch-title {
    font-family: StretchPro, sans-serif;
    color: #c39e6cff;
    display: flex;
    flex-wrap: wrap; /*para o responsivo*/
    justify-content: center;
    font-size: clamp(2rem, 5vw, 3rem);
    cursor: default;
    animation: slideUpFadeIn ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}

span {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

#contacts {
    padding: 10vh 10vw 10vh 10vw;
    font-family: StretchPro, sans-serif;
    color: #c39e6cff;
    cursor: default;
    font-size: clamp(1.2rem, 5vw, 1.8rem); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    gap: 10vh;
    animation: slideUpFadeIn ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}

#contacts div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5vh;
}

#contacts a {
    color: #373737;
}

#contacts a:hover {
    color: white;
    letter-spacing: 0.1rem;
}

#up-button-container {
    display: flex;
    justify-content: center;
}

#up-button {
    opacity: 0;
    position: fixed;
    color: #c39e6cff;
    transition: all 0.25s;
    display: inline-block;
    bottom: 10vh;
    animation: fadeIn 1s ease-in-out 1.5s forwards;
}

#up-button:hover {
    transform: translateY(-5px);
}


footer {
    background-color: black;
    font-family: Archivo, sans-serif;
    font-weight: normal;
    color: #c39e6cff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}


@keyframes slideUpFadeIn { /*entender como funciona*/
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn { 
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 400px) {
    #main-section {
        background-image: url(../src/images/shots/home/background-mobile.jpg);
    }
    
    #intermediate {
        background-attachment: scroll;
    }
}